$html-size-base: 10px;
$font-header-menu-size: 1.8rem;
$font-size: 1.4rem;
$font-size-btn:1.8rem;
$font-size-h2: 2.4rem;

/*---background-color----*/

$color-blue-50: #1d2631; //фон хедера
$color-blue-70: #283645; //фон заголовка таблицы
$color-white: #ffffff;
$color-grey-230: #e5e5e5;
$color-grey-240: #f2f2f2;
$color-grey-190: #bec2c7;
$color-grey-185: #b5b9be;
$color-black: #000000;

/*--font---*/

$font-family: "Open Sans",
Arial,
sans-serif;