.download-pink {
    padding-top: 28px;
    padding-bottom: 30px;
    text-align: center;
    background-color: $color-blue-50;
    color: $color-white;
}

.download-pink a {
    color: $color-white;
    text-decoration: none;
}

.download-pink__btn {
    display: block;
    margin-bottom: 27px;
    padding: 15px 35px;
    font-family: $font-family;
    font-weight: 700;
    font-size: $font-size-btn;
    line-height: $font-size-btn;
    color: $color-white;
    border: 3px solid $color-white;
    border-radius: 27px;
}

.download-pink__icons {
    margin-bottom: 25px;
    font-size: 0;
    /**/
    outline: 2px solid yellow;
}

.download-pink__icons-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 37px;
}

.download-pink__icons-item:last-child {
    margin-right: 0;
}

.download-pink__icons-item--ipnone {
    width: 46px;
    height: 57px;
    background-image: url("../../img/icon-iphone.png");
}

.download-pink__icons-item--android {
    width: 42px;
    height: 47px;
    background-image: url("../../img/icon-android.png");
}

.download-pink__icons-item--win {
    width: 44px;
    height: 42px;
    background-image: url("../../img/icon-win.png");
}

.download-pink__text {
    font-family: $font-family;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: $color-white;
}