.features {
    /**/
    outline: 1px solid red;
}

.features__inner {
    padding-top: 48px;
    padding-bottom: 322px;
    text-align: center;
    background: url("../../img/screen-1-3.png") bottom center no-repeat;
}

.features__header {
    background-color: $color-white;
}

.features__header-item {
    margin-bottom: 37px;
    font-family: $font-family;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 3rem;
    color: $color-font-grey-50;
}

.features__header-item:last {
    margin-bottom: 0;
}

.features__content {
    padding-top: 53px;
    padding-bottom: 43px;
    background-color: $color-grey-240;
}

.features__content-item {
    margin-bottom: 32px;
    font-family: $font-family;
    font-size: $font-size;
    line-height: 2.4rem;
    font-weight: 400;
    color: $color-font-grey-50;
}

.features__content-item-heading {
    margin-top: 0;
    margin-bottom: 12px;
    font-family: $font-family;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
}