.page-header {
    position: relative;
    font-family: $font-family;
    font-size: $font-size;
    color: $color-white;
    background-image: url("../../img/background-1@1x.jpg");
    background-position: bottom center;
    background-color: $color-blue-50;
    min-height: 458px;
    /**/
    outline: 1px solid orange;
}

.page-header a {
    color: $color-white;
}

.page-header__caption {
    text-align: center;
    font-weight: 300;
    font-size: 2.4rem;
}

.page-header__img {
    background-image: url("../../img/iphone-hand-1.png");
    background-repeat: no-repeat;
    height: 286px;
    /**/
    outline: 1px solid red;
}

.page-header__logo-wrap {
    float: left;
    width: 120px;
    /**/
    outline: 1px solid red;
}

.page-header__nav-wrap {
    float: right;
    width: 50px;
    /**/
    outline: 1px solid red;
}

.page-header-top__logo-line--closed {
    height: 66px;
    line-height: 66px;
    background-color: rgba(0, 0, 0, 0.3);
}

.page-header-top__logo-line--opened {
    height: 70px;
    line-height: 69px;
    box-shadow: inset 0 -1px 0 0 #000000;
}

.page-header-top--closed {}

.page-header-top--opened {
    position: absolute;
    width: 100%;
    display: none;
    top: 0;
    left: 0;
    background-color: $color-blue-70;
}

.page-header-top--menu-opened-display {
    display: block;
}

.main-nav__toggle--closed {
    opacity: 1;
}

.main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__list-item {
    text-align: center;
    vertical-align: middle;
    line-height: 64px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 0 #000000;
}

.main-nav__list-item a {
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: $color-white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}