.price {
    outline: 1px solid red;
    background-color: $color-grey-240;
    &-inner {
        position: relative;
        min-height: 9.8rem + (5.9rem*3);
        padding-top: 67px;
        padding-bottom: 99px+(2px*3);
    }
    &__table {
        position: absolute;
        border-collapse: collapse;
    }
    &__table-header-item {
        padding-top: 2.1rem;
        padding-bottom: 1.7rem;
        min-width: 256px;
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
        background-color: $color-blue-70;
        border-right: 2px solid $color-grey-230;
        &:last-child {
            border-right: none;
        }
    }
    &__table-header-name {
        font-family: $font-family;
        font-size: 1.8rem;
        line-height: 3rem;
        font-weight: 700;
    }
    &__table-header-value {
        font-family: $font-family;
        font-size: 2.4rem;
        line-height: 3rem;
        font-weight: 300;
    }
    &__table-col-item {
        padding-left: 20px;
        height: 5.7rem;
        font-family: $font-family;
        font-size: $font-size;
        line-height: 3rem;
        font-style: normal;
        font-weight: 400;
        color: $color-blue-70;
        background-color: $color-white;
        text-transform: uppercase;
        border: 2px solid $color-grey-230;
        border-top: none;
    }
    &__table-col-item {
        background-repeat: no-repeat;
        background-position: bottom 1.8rem right 1.8rem;
        &--yes {
            background-image: url("../../img/icon-price-table-yes.png");
        }
        &--no {
            background-image: url("../../img/icon-price-table-no.png");
        }
    }
    &__table-col-1 {
        display: none;
    }
    &__slider-pagination {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 0;
        bottom: 47px;
    }
    &__slider-pagination-item {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 13px;
        background-color: $color-grey-185;
        border: 3px solid $color-grey-240;
        border-radius: 50%;
    }
    &__slider-pagination-item:last-child {
        margin-right: 0;
    }
}

input[id="price__slider-radio--01"]:checked ~ .price__slider-pagination label[for="price__slider-radio--01"],
input[id="price__slider-radio--02"]:checked ~ .price__slider-pagination .price__slider-pagination-item[for="price__slider-radio--02"],
input[id="price__slider-radio--03"]:checked ~ .price__slider-pagination .price__slider-pagination-item[for="price__slider-radio--03"] {
    background-color: $color-white;
    border-color: $color-blue-70;
}

input[id="price__slider-radio--01"]:checked ~ .price__table {
    left: 10px;
}

input[id="price__slider-radio--02"]:checked ~ .price__table {
    left: -250px;
}

input[id="price__slider-radio--03"]:checked ~ .price__table {
    right: 10px;
}

@include media(">TabletWidth") {
    .price {
        &__table {
            position: static;
            border-collapse: collapse;
        }
        &__table-col-1 {
            display: table-cell;
            width: 153px;
            padding-left: 0;
            font-size: $font-size;
            line-height: 3rem;
            font-weight: 400;
            color: $color-blue-70;
            text-transform: lowercase;
            &::first-letter {
                text-transform: capitalize;
            }
            text-align: center;
            vertical-align: middle;
        }
        &__table-header-item {
            min-width:152px;
        }
        &__table-col-item {
            padding:0;
            background-position: center center;
            span {
                display: none;
            }
        }
        &__slider-pagination{
            display:none;
        }
    }
}