.reviews {
    margin-bottom: 67px;
    /**/
    outline: 1px solid red;
}

.reviews__slider-item {
    margin-top: 43px;
    margin-bottom: 10px;
    text-align: center;
    font-family: $font-family;
}

.reviews__slider-item h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 700;
    color: $color-font-black;
}

.reviews__slider-item p {
    text-align: center;
    font-size: $font-size;
    line-height: 3rem;
    font-weight: 400;
    color: $color-font-grey-50;
    quotes: "\00ab" "\00bb";
    /**/
    outline: 1px solid orange;
}

.reviews__slider-item {
    visibility: hidden;
    min-height: 255px;
}

input[id="reviews__slider-radio--01"]:checked ~ .reviews__slider-item--01,
input[id="reviews__slider-radio--02"]:checked ~ .reviews__slider-item--02,
input[id="reviews__slider-radio--03"]:checked ~ .reviews__slider-item--03 {
    visibility: visible;
}

.reviews__slider-pagination {
    text-align: center;
    font-size: 0;
    line-height: 12px;
}

.reviews__slider-pagination-item {
    display: inline-block;
    vertical-align: middle;
    height: 6px;
    width: 6px;
    margin-right: 13px;
    border: 3px solid $color-white;
    background-color: $color-grey-190;
    border-radius: 50%;
}

.reviews__slider-pagination-item:last {
    margin-right: 0;
}

input[id="reviews__slider-radio--01"]:checked ~ .reviews__slider-pagination label[for="reviews__slider-radio--01"],
input[id="reviews__slider-radio--02"]:checked ~ .reviews__slider-pagination label[for="reviews__slider-radio--02"],
input[id="reviews__slider-radio--03"]:checked ~ .reviews__slider-pagination label[for="reviews__slider-radio--03"] {
    border-color: $color-font-grey-50;
    background-color: $color-white;
}